{# FuzAppBundle:Fiddle:actions.html.twig #}
{# Included by: FuzAppBundle:Fiddle:index.html.twig #}

{# Run button #}
<button
    type="button"
    id="run"
    class="btn btn-primary domajax click"
    data-endpoint="{{ path('run_fiddle', {'hash': hash, 'revision': revision}) }}"
    data-input="#page-container"
    data-callback-before="beforeRunFiddle"
    data-callback-success="processRunFiddleResponse"
    data-callback-failure="handleAjaxErrors"
    data-lock="#actions"
    data-replace="#result-pane"
    data-replace-by="#wait"
><span class="glyphicon glyphicon glyphicon-play hidden-md hidden-sm hidden-xs"></span> Run</button>

{# Save button #}
<button
    type="button"
    class="btn btn-primary domajax click"
    data-endpoint="{{ path('save_fiddle', {'hash': hash, 'revision': revision}) }}"
    data-input="#page-container"
    data-callback-success="processSaveFiddleResponse"
    data-callback-failure="handleAjaxErrors"
    data-lock="#actions"
    data-highlight=""
    data-highlight-color="#FFFF00"
    {% if canSave == false %}disabled{% endif %}
 ><span class="glyphicon glyphicon glyphicon-floppy-disk hidden-md hidden-sm hidden-xs"></span> Save</button>

{# Share button #}
<button id="share" type="button" class="btn btn-primary" data-toggle="modal" data-target="#share-modal" {% if data.id == null %}disabled{% endif %}><span class="glyphicon glyphicon glyphicon-share-alt hidden-md hidden-sm hidden-xs"></span> Share</button>
{% if data.id %}{{ include('FuzAppBundle:Fiddle:share-modal.html.twig') }}{% endif %}