{# FuzAppBundle:Fiddle:result-context.html.twig #}
{# Rendered by: FuzAppBundle:Fiddle:run #}

{#
 # This file is part of twigfiddle.com project.
 #
 # (c) Alain Tiemblo <alain@fuz.org>
 #
 # For the full copyright and license information, please view the LICENSE
 # file that was distributed with this source code.
 #}

<div class="result-container">

    {# Toggle #}
    <div class="form-group">
        <div class="row">
            <div class="col-md-12 text-center small">
                <a
                        id="result-context-toggle"
                        class="dark"
                        title="Show the context you given as a dumped PHP array"
                        href="#">Dump context</a>
            </div>
        </div>
    </div>

    {# Container #}
    <div id="result-context-php" class="form-group hide" aria-hidden="true">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">Context</div>
                    </div>
                </div>
                <div id="used-context">
                    {{ dump(data.result.context|hide_project_path|raw) }}
                </div>
            </div>
        </div>
    </div>

</div>
