{# FuzAppBundle:Fiddle:result-duration.html.twig #}
{# Included by: FuzAppBundle:Fiddle:result-pane.html.twig #}

<div class="form-group result-container">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon">Duration</div>
                    <p class="form-control text-right">{{ data.duration }}</p>
                </div>
            </div>
        </div>
    </div>
</div>