{# FuzAppBundle:Fiddle:result-rendered.html.twig #}
{# Included by: FuzAppBundle:Fiddle:result.html.twig #}

{% set templates = data.result.compiled|keys %}

<div class="form-group result-box result-container">
    <div class="row">
        <div class="col-md-12">

            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon"><img src="{{ asset('bundles/fuzapp/img/flags/green.gif') }}" alt="Green Flag" class="flag"/>Rendered</div>
                    <p class="form-control">{{ templates[0] }}</p>
                </div>
            </div>

            {% set rawResult = data.result.rendered %}
            {% set simpleResult = rawResult|preg_replace('/\\n{2,}/', '\n\n') %}

            <pre id="result-rendered-simple">{{ simpleResult }}</pre>

            {% if simpleResult != rawResult %}
                <pre id="result-rendered-raw" class="hide">{{ rawResult }}</pre>
            {% endif %}

            <button
                id="select-result-rendered"
                class="btn btn-default btn-sm btn-twigfiddle select-text"
                title="Select result to copy it to your clipboard easily"
                aria-label="Select result to copy it to your clipboard easily"
                data-selector="#result-rendered-simple">
                <span class="glyphicon glyphicon-flash"></span> Select result
            </button>

            {% if simpleResult != rawResult %}

            <button
                id="show-raw-result"
                class="btn btn-default btn-sm btn-twigfiddle"
                title="Result was not easily readable so it has been automatically cleaned up, use this button to see the result raw"
                aria-label="Result was not easily readable so it has been automatically cleaned up, use this button to see the result raw">
                <span class="glyphicon glyphicon-asterisk"></span> Show raw result
            </button>

            <button
                id="hide-raw-result"
                class="btn btn-default btn-sm btn-twigfiddle hide"
                title="Raw result is currently displayed, click here to come back to a more human-readable version"
                aria-label="Raw result is currently displayed, click here to come back to a more human-readable version">
                <span class="glyphicon glyphicon-asterisk"></span> Hide raw result
            </button>

            {% endif %}


        </div>
    </div>
</div>
