{# FuzAppBundle:Fiddle:result-context.html.twig #}

<div class="result-box">
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-addon">Context</div>
        </div>
    </div>
    <div id="used-context">
        {{ dump(data.result.context) }}
    </div>
</div>

<div class="clear">&nbsp;</div>

