{# FuzAppBundle:Fiddle:result-compiled.html.twig #}
{# Included by: FuzAppBundle:Fiddle:result.html.twig #}

{# Toggle #}
<div class="form-group result-container">
    <div class="row">
        <div class="col-md-12 text-center small">
            <a
                id="result-compiled-toggle"
                class="dark" href="#"
                title="Twig templates are converted to PHP classes, use this link to see how those fiddle's templates were compiled"
                aria-label="Twig templates are converted to PHP classes, use this link to see how those fiddle's templates were compiled"
                data-plur="{% if data.result.compiled|length > 1 %}s{% endif %}">Show compiled template{% if data.result.compiled|length > 1 %}s{% endif %}</a>
        </div>
    </div>
</div>

{# Container #}
<div id="result-compiled-container" class="form-group result-container hide">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon">Compiled</div>
                    <select
                        id="compiled-switcher"
                        class="form-control"
                        title="Use this menu to switch between compiled templates"
                        aria-label="Use this menu to switch between compiled templates">
                        {% for filename, code in data.result.compiled %}
                            <option value="{{ filename | sha1 }}">{{ filename }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            {% for filename, code in data.result.compiled %}
                <pre id="compiled-{{ filename | sha1 }}" class="prettyprint compiled-code">{{ code }}</pre>
            {% endfor %}
        </div>
    </div>
</div>
