{# FuzAppBundle:Fiddle:result-context.html.twig #}
{# Rendered by: FuzAppBundle:Fiddle:run #}

<div class="result-container">

    {# Toggle #}
    <div class="form-group">
        <div class="row">
            <div class="col-md-12 text-center small">
                <a
                    id="result-context-toggle"
                    class="dark"
                    title="Show the context you given as a dumped PHP array"
                    aria-label="Show the context you given as a dumped PHP array"
                    href="#">Dump context</a>
            </div>
        </div>
    </div>

    {# Container #}
    <div id="result-context-php" class="form-group hide">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">Context</div>
                    </div>
                </div>
                <div id="used-context">
                    {{ dump(data.result.context) }}
                </div>
            </div>
        </div>
    </div>

</div>