{# FuzAppBundle:Fiddle:revision.html.twig #}
{# Included by: FuzAppBundle:Fiddle:index.html.twig #}

<div class="col-md-3 col-sm-6 col-xs-12 revision">
    <select id="revision-browser" class="form-control input-sm" {% if data.id == null %}disabled{% endif %}>
        {% for rev in revisionBrowser %}
            <option {% if rev.revision == data.revision %}selected{% endif %} value="{{ path('fiddle', {'hash': data.hash, 'revision': rev.revision}) }}">Revision {{ rev.revision }} - {{ rev.creationTm|date }}</option>
        {% endfor %}
    </select>
</div>
<div class="col-md-3 col-sm-6 col-xs-12 saveas">
    <button
        type="button"
        class="btn btn-default domajax click"
        data-endpoint="{{ path('save_fiddle', {'hash': hash}) }}"
        data-input="#page-form"
        data-callback-success="processSaveFiddleResponse"
        data-callback-failure="handleAjaxErrors"
        data-lock=""
        data-highlight=""
        data-highlight-color-success="#87b839"
        data-highlight-color-failure="#FF0000"
        {% if data.id == null %}disabled{% endif %}
        >
        <span class="glyphicon glyphicon glyphicon-file hidden-md hidden-sm hidden-xs"></span> Create new revision
    </button>
</div>
