{# FuzAppBundle:Fiddle:index.html.twig #}
{# Rendered by: FuzAppBundle:Fiddle:samples #}

{% if categories|length > 0 %}

   {% import "FuzAppBundle::macros.html.twig" as macros %}

   <button type="button" class="btn btn-tf-dark" data-toggle="modal" data-target="#samples-modal">
      <span class="glyphicon glyphicon glyphicon-cloud hidden-md hidden-sm hidden-xs"></span>
      <span>Samples</span>
   </button>

   {% set body %}

   <div class="text-left">

      <p class="text-center lead">Click on the following buttons to open fiddle's samples in a new tab</p>

      {% for category, samples in categories %}

         <p class="text-center">
            <strong>{{ category|title }}</strong>
         </p>

         {% for sample in samples %}

            <a
               class="btn btn-sm btn-tf-dark"
               href="{{ path('fiddle', {'hash': sample.hash, 'revision': sample.revision}) }}"
               style="margin: 3px;"
               target="_blank">{{ sample.label }}</a>

         {% endfor %}

         <div class="clear">&nbsp;</div>

      {% endfor %}

   </div>

   {% endset %}

   {{ macros.modal('samples-modal', 'Samples', body, {'modal-class': 'modal-lg'}) }}

{% endif %}