{# FuzAppBundle:Fiddle:script.html.twig #}

<div id="template-container" class="hide"></div>

<script type="text/javascript">

$(document).ready(function() {

    {# used in FuzAppBundle:Fiddle:templates-pane.html.twig #}
    $('body').on('click', '.add-template', function () {
        var templates = $('#templates');
        var prototype = templates.data('prototype');
        for (var index = 0; (index < 10 {# fiddle.max_templates #}); index++) {
            var template = $(prototype.replace(/__name__/g, index));
            var container = $('#template-container');
            var id = container.html(template).find('.template').data('id');
            container.empty();
            if ($('#row-' + id).length === 0) {
                template.find(".text-danger").remove().end().appendTo(templates);
                break ;
            }
        }
    });

    {# used in FuzAppBundle:Fiddle:templates-theme.html.twig #}
    $('body').on('click', '.delete-template', function () {
       var id = $(this).data('id');
       $('#row-' + id).remove();
    });

    {# used in FuzAppBundle:Fiddle:templates-theme.html.twig #}
    $('body').on('change', '.main-template', function (e) {
        var ticked = $(this).data('id');
        $('.template').each(function() {
            var that = $(this);
            if (that.data('id') === ticked) {
                that.find(':checkbox').prop('checked', true);
            } else {
                that.find(':checkbox').prop('checked', false);
            }
        });
    });

});

</script>
