{# FuzAppBundle:Fiddle:templates-modal.html.twig #}

{% set body %}

    {# Template list #}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Template name</th>
                <th>Main template</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody id="templates" data-prototype="{{ form_widget(fiddleForm.templates.vars.prototype)|e('html_attr') }}">
            {{ form_widget(fiddleForm.templates) }}
        </tbody>
    </table>

    {# Add template button #}
    <div align="right">
        <button class="btn btn-default btn-sm add-template" type="button">
            <span class="glyphicon glyphicon glyphicon-plus"></span>
            <span>Add a template</span>
        </button>
    </div>

{% endset %}

{{ macros.modal('templates-modal', 'Manage templates', body) }}
