{# FuzAppBundle:Fiddle:templates-pane.html.twig #}

{% form_theme fiddleForm.templates 'FuzAppBundle:Fiddle:templates-theme.html.twig' %}

{{ include('FuzAppBundle:Fiddle:templates-modal.html.twig') }}

<div class="row">
    <div class="col-md-8 col-sm-8 col-xs-8">
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon">File</div>
                <select class="form-control input-sm">
                    <option>Main TWIG</option>
                    <option>...</option>
                </select>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-4  col-xs-4">
        <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#templates-modal">
            <span class="glyphicon glyphicon glyphicon-plus"></span> Manage templates
        </button>
    </div>
</div>

<textarea class="form-control" rows="35" placeholder="TWIG"></textarea>

