{# FuzAppBundle:Default:index.html.twig #}
{% extends 'FuzAppBundle::base.html.twig' %}

{% block header_right %}{% endblock %}

{% block title %}It looks like something went wrong.{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-12">
        <h3>500 - Somebody stumbled on the power cable!</h3>

        <div class="text-center">
            If you got to that page, this is because something crashed somewhere.
        </div>

        <div>&nbsp;</div>

        <div class="text-center">
            Use the Back button, the navigation menu or click on the Home button to continue.
        </div>

        <div>&nbsp;</div>

        <div class="text-center">
            <a href="{{ path('home') }}" class="btn btn-default btn-sm">Back to home</a>
        </div>

    </div>
    <div class="clear">&nbsp;</div>
</div>

{% endblock %}