{# FuzAppBundle:Browse:button.html.twig #}
{# Included by: FuzAppBundle::base.html.twig #}
{# Included by: FuzAppBundle:Article:about/fiddle-browser.html.twig #}

{#
 # This file is part of twigfiddle.com project.
 #
 # (c) Alain Tiemblo <alain@fuz.org>
 #
 # For the full copyright and license information, please view the LICENSE
 # file that was distributed with this source code.
 #}

<a
    title="Browse existing fiddles"
    class="btn btn-tf-dark"
    href="{{ path('browse') }}">
    <span class="glyphicon glyphicon glyphicon-th hidden-md hidden-sm hidden-xs"></span>
    Browse
</a>
