{# FuzAppBundle:Browse:fiddles.html.twig #}
{# Included by: FuzAppBundle:Browse:results.html.twig #}

<!-- Start Content -->
<div class="row" id="result">

    <!-- Start Left Col -->
    <div class="col-md-6">
        <div class="row searchbloc">
            <div class="col-md-12">
                <p>This fiddle generates an autocomplete plugin adaptable to Sympfony2</p>
            </div>
            <div class="col-md-6 col-sm-7 col-xs-6">
                <input class="form-control" id="" placeholder="...">
            </div>
            <div class="col-md-3 col-sm-2 col-xs-3">
                <button type="button" class="btn btn-warning"><span class="glyphicon glyphicon-folder-open hidden-md hidden-sm hidden-xs"></span> Open Fiddle</button>
            </div>
            <div class="col-md-3 col-sm-2 col-xs-3">
                <button type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-star"></span></button>
                <button type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-pencil"></span></button>
            </div>
        </div>
        <div class="row searchbloc">
            <div class="col-md-12">
                <p>This fiddle generates an autocomplete plugin adaptable to Sympfony2</p>
            </div>
            <div class="col-md-6 col-sm-7 col-xs-6">
                <input class="form-control" id="" placeholder="...">
            </div>
            <div class="col-md-3 col-sm-2 col-xs-3">
                <button type="button" class="btn btn-warning"><span class="glyphicon glyphicon-folder-open hidden-md hidden-sm hidden-xs"></span> Open Fiddle</button>
            </div>
            <div class="col-md-3 col-sm-2 col-xs-3">
                <button type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-star"></span></button>
                <button type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-pencil"></span></button>
            </div>
        </div>
        <div class="row searchbloc">
            <div class="col-md-12">
                <p>This fiddle generates an autocomplete plugin adaptable to Sympfony2</p>
            </div>
            <div class="col-md-6 col-sm-7 col-xs-6">
                <input class="form-control" id="" placeholder="...">
            </div>
            <div class="col-md-3 col-sm-2 col-xs-3">
                <button type="button" class="btn btn-warning"><span class="glyphicon glyphicon-folder-open hidden-md hidden-sm hidden-xs"></span> Open Fiddle</button>
            </div>
            <div class="col-md-3 col-sm-2 col-xs-3">
                <button type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-star"></span></button>
                <button type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-pencil"></span></button>
            </div>
        </div>
        <div class="row searchbloc">
            <div class="col-md-12">
                <p>This fiddle generates an autocomplete plugin adaptable to Sympfony2</p>
            </div>
            <div class="col-md-6 col-sm-7 col-xs-6">
                <input class="form-control" id="" placeholder="...">
            </div>
            <div class="col-md-3 col-sm-2 col-xs-3">
                <button type="button" class="btn btn-warning"><span class="glyphicon glyphicon-folder-open hidden-md hidden-sm hidden-xs"></span> Open Fiddle</button>
            </div>
            <div class="col-md-3 col-sm-2 col-xs-3">
                <button type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-star"></span></button>
                <button type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-pencil"></span></button>
            </div>
        </div>
        <div class="row searchbloc">
            <div class="col-md-12">
                <p>This fiddle generates an autocomplete plugin adaptable to Sympfony2</p>
            </div>
            <div class="col-md-6 col-sm-7 col-xs-6">
                <input class="form-control" id="" placeholder="...">
            </div>
            <div class="col-md-3 col-sm-2 col-xs-3">
                <button type="button" class="btn btn-warning"><span class="glyphicon glyphicon-folder-open hidden-md hidden-sm hidden-xs"></span> Open Fiddle</button>
            </div>
            <div class="col-md-3 col-sm-2 col-xs-3">
                <button type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-star"></span></button>
                <button type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-pencil"></span></button>
            </div>
        </div>
    </div>
    <!-- End Left Col -->

    <div class="clearfix hidden-md hidden-lg">&nbsp;</div>

    <!-- Start Right Col -->
    <div class="col-md-6">
        <div class="row searchbloc">
            <div class="col-md-12">
                <p>This fiddle generates an autocomplete plugin adaptable to Sympfony2</p>
            </div>
            <div class="col-md-6 col-sm-7 col-xs-6">
                <input class="form-control" id="" placeholder="...">
            </div>
            <div class="col-md-3 col-sm-2 col-xs-3">
                <button type="button" class="btn btn-warning"><span class="glyphicon glyphicon-folder-open hidden-md hidden-sm hidden-xs"></span> Open Fiddle</button>
            </div>
            <div class="col-md-3 col-sm-2 col-xs-3">
                <button type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-star"></span></button>
                <button type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-pencil"></span></button>
            </div>
        </div>
        <div class="row searchbloc">
            <div class="col-md-12">
                <p>This fiddle generates an autocomplete plugin adaptable to Sympfony2</p>
            </div>
            <div class="col-md-6 col-sm-7 col-xs-6">
                <input class="form-control" id="" placeholder="...">
            </div>
            <div class="col-md-3 col-sm-2 col-xs-3">
                <button type="button" class="btn btn-warning"><span class="glyphicon glyphicon-folder-open hidden-md hidden-sm hidden-xs"></span> Open Fiddle</button>
            </div>
            <div class="col-md-3 col-sm-2 col-xs-3">
                <button type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-star"></span></button>
                <button type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-pencil"></span></button>
            </div>
        </div>
        <div class="row searchbloc">
            <div class="col-md-12">
                <p>This fiddle generates an autocomplete plugin adaptable to Sympfony2</p>
            </div>
            <div class="col-md-6 col-sm-7 col-xs-6">
                <input class="form-control" id="" placeholder="...">
            </div>
            <div class="col-md-3 col-sm-2 col-xs-3">
                <button type="button" class="btn btn-warning"><span class="glyphicon glyphicon-folder-open hidden-md hidden-sm hidden-xs"></span> Open Fiddle</button>
            </div>
            <div class="col-md-3 col-sm-2 col-xs-3">
                <button type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-star"></span></button>
                <button type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-pencil"></span></button>
            </div>
        </div>
        <div class="row searchbloc">
            <div class="col-md-12">
                <p>This fiddle generates an autocomplete plugin adaptable to Sympfony2</p>
            </div>
            <div class="col-md-6 col-sm-7 col-xs-6">
                <input class="form-control" id="" placeholder="...">
            </div>
            <div class="col-md-3 col-sm-2 col-xs-3">
                <button type="button" class="btn btn-warning"><span class="glyphicon glyphicon-folder-open hidden-md hidden-sm hidden-xs"></span> Open Fiddle</button>
            </div>
            <div class="col-md-3 col-sm-2 col-xs-3">
                <button type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-star"></span></button>
                <button type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-pencil"></span></button>
            </div>
        </div>
        <div class="row searchbloc">
            <div class="col-md-12">
                <p>This fiddle generates an autocomplete plugin adaptable to Sympfony2</p>
            </div>
            <div class="col-md-6 col-sm-7 col-xs-6">
                <input class="form-control" id="" placeholder="...">
            </div>
            <div class="col-md-3 col-sm-2 col-xs-3">
                <button type="button" class="btn btn-warning"><span class="glyphicon glyphicon-folder-open hidden-md hidden-sm hidden-xs"></span> Open Fiddle</button>
            </div>
            <div class="col-md-3 col-sm-2 col-xs-3">
                <button type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-star"></span></button>
                <button type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-pencil"></span></button>
            </div>
        </div>
    </div>
    <!-- End Right Col -->

</div>
<!-- End Content -->
