{# FuzAppBundle:Browse:index.html.twig #}
{# Rendered by: FuzAppBundle:Browse:index #}

{% extends 'FuzAppBundle::base.html.twig' %}

{% block browse %}{% endblock %}

{% block header_middle %}

    {# Create new fiddle #}
    <a class="btn btn-tf-green" href="{{ path('fiddle') }}">
        <span class="glyphicon glyphicon glyphicon-th hidden-md hidden-sm hidden-xs"></span>
        Create new fiddle
    </a>

{% endblock %}

{% block content %}

    {{ include('FuzAppBundle:Browse:filters.html.twig') }}

    <div id="result-container">
        {{ render(controller('FuzAppBundle:Browse:search', {'tag': tag})) }}
    </div>

{% endblock %}

 {% block extra_js %}

 {% endblock %}

{{ include('FuzAppBundle:Browse:script.html.twig') }}
