{# FuzAppBundle:Browse:results.html.twig #}
{# Rendered by: FuzAppBundle:Browse:search #}

<div class="filters-container">
    {{ include('FuzAppBundle:Browse:filters.html.twig') }}
</div>

<div class="result-container">

    {{ include('FuzAppBundle:Browse:fiddles.html.twig') }}

    <div class="clear">&nbsp;</div>

    {{ include('FuzAppBundle:Browse:pagination.html.twig') }}

</div>
