{# FuzAppBundle:Browse:results.html.twig #}
{# Rendered by: FuzAppBundle:Browse:search #}

{{ include('FuzAppBundle:Browse:fiddles.html.twig') }}

<div class="clear">&nbsp;</div>

{{ include('FuzAppBundle:Browse:pagination.html.twig') }}
