{# FuzAppBundle:Browse:search.html.twig #}
{# Rendered by: FuzAppBundle:Browse:search #}

{% extends 'FuzAppBundle::base-ajax.html.twig' %}

{% block content %}

    <div id="filters-container">
        {{ include('FuzAppBundle:Browse:filters.html.twig') }}
    </div>

    <div id="result-container">

        {{ include('FuzAppBundle:Browse:fiddles.html.twig') }}

        <div class="clear">&nbsp;</div>

        {{ include('FuzAppBundle:Browse:pagination.html.twig') }}

    </div>

{% endblock %}