{# FuzAppBundle:Browse:search.html.twig #}
{# Rendered by: FuzAppBundle:Browse:search #}

{#
 # This file is part of twigfiddle.com project.
 #
 # (c) Alain Tiemblo <alain@fuz.org>
 #
 # For the full copyright and license information, please view the LICENSE
 # file that was distributed with this source code.
 #}

{% extends 'FuzAppBundle::base-ajax.html.twig' %}

{% block content %}

    <div id="filters-container">
        {{ include('FuzAppBundle:Browse:filters.html.twig') }}
    </div>

    <div id="result-container">

        {{ include('FuzAppBundle:Browse:fiddles.html.twig') }}

        <div class="clear">&nbsp;</div>

        {{ include('FuzAppBundle:Browse:pagination.html.twig') }}

    </div>

{% endblock %}

{% block script %}
{{ include('FuzAppBundle:Browse:script.html.twig') }}
{% endblock %}
