@charset "utf-8";
/* CSS Document */

/*
1. GENERAL
2. LAYOUTS
3. MARGIN
4. RESPONSIVE FIX
5. LOGIN
6. FIDDLE
7. BROWSER
8. ABOUT
*/

/******************************************************/
/************** STYLES TEMPORAIRES ********************/
/******************************************************/
/*[class*="col-"] {
 border: 1px solid #CC0000;
}*/
.bordertemp {
    border: 1px solid #CC0000;
}
textarea { height: auto; }
/******************************************************/
/********************* GENERAL ***********************/
/******************************************************/
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background:#f5f5f5;
}
html.error, body.error {
    background: #ffffff;
}
.error-message {
    background-color: #f2dede;
    color: red;
    border: 1px solid darkred;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}
body {
    font-family: 'Archivo Narrow', verdana, sans-serif;
}
a {
    text-decoration: none;
    color: #FFF;
}
a:hover {
    text-decoration: underline;
    color: #85c128;
}
img {
    border: none;
}
.clear {
    clear: both;
}
.black {
    color: black;
}
.white {
    color: white;
}
.dark {
    color: #555;
}
.light {
    color: #EEE;
}
/******************************************************/
/********************* LAYOUT *************************/
/******************************************************/
#header {
    background-color:#333;
    box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
}
#infos {
    padding:0 0 20px 0;
}
#search {
    padding:20px 0 20px 0;
}
#about {
    padding:20px 0 20px 0;
}
#content {
    padding:20px 0 20px 0;
    background:url(../img/background/bg_t_11.png) repeat;
}
#footernav {
    padding:10px 0 20px 0;
}
#footernav a{
    color: #85c128;
}
#footernav a:hover{
    text-decoration: underline;
}
#footer {
    background-color:#333;
    height:120px;
    color:#85c128;
    padding:15px 0 0 0;
}
.space {
    padding-left:10px;
    padding-right:10px;
}
.btn-twigfiddle {
    height: 34px;
}
.user-image {
    margin-left:3px;
    margin-right:3px;
    padding-bottom:3px;
    height:18px;
}
.box-style {
    padding: 15px;
    margin-bottom: 15px;
}
.box-style:empty {
    display:none;
}
.full-width {
    width: 100%;
}
/******************************************************/
/********************* MARGIN *************************/
/******************************************************/
.logo {
    padding:10px;
}
.logo img{
    margin:auto;
}
.version {
    margin-top:35px;
}
.top-menu {
    margin-top:35px;
}
.user-menu {
    margin-top:35px;
}
.title {
    margin-top:5px;
}
.tags {
    margin-top:5px;
}
.searchbloc {
    padding:10px;
}
div.bottomline {
    border-bottom:1px solid #f5f5f5;
}
.btn-tf-dark {
    color:#fff;
    background-color:#5e5051;
}
.btn-tf-dark:hover {
    color: #fff;
    background-color:#4d4041;
}
.btn-tf-green{
    color:#fff;
    background-color:#76a728;
}
.btn-tf-green:hover {
    color: #fff;
    background-color:#548506;
}
.green {
    color: #76a728;
}
.grey {
    color: #4d4041 !important;
}
.text-light-success {
    color: #7eda7e;
}
.text-light-warning {
    color: #f2cf6f;
}
.text-light-danger {
    color: #fb756f;
}

/******************************************************/
/***************** RESPONSIVE FIX *********************/
/******************************************************/
@media (max-width: 1200px) {
}
@media (max-width: 992px) {
    .top-menu {
        margin:15px 0 15px 0;
    }
    .user-menu {
        margin:15px 0 15px 0;
    }
    .logo img{
        margin:0;
    }
}
@media (max-width: 768px) {
    .top-menu {
        margin:5px 0 5px 0;
    }
    .user-menu {
        margin:5px 0 5px 0;
    }
}
/******************************************************/
/************** LOGIN ********************/
/******************************************************/
#login div.oauth {
    text-align:center;
    padding: 10px;
}

#login div.oauth img {
    width: 80px;
    height: 80px;
}

#login div.oauth.sensio img {
    width: auto;
    height: auto;
}

#login div.oauth:hover {
    border: 1px solid #85c128;
}
/******************************************************/
/************** FIDDLE ********************/
/******************************************************/
#result {
    background: url("../img/background/bg_t_11.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    padding: 10px 0 20px;
}
.result-box {
    background-color: #eee;
    color: #555;
    padding: 15px;
}
.flag {
    width: 20px;
    height: 16px;
    position: relative;
    top:-2px;
    margin-right: 5px;
    margin-left: -4px;
}
pre.compiled-code {
    padding: 10px !important;
}
.CodeMirror pre.CodeMirror-placeholder {
    color: #999;
}
#select-result-rendered, #show-raw-result {
    margin-top: 5px;
}
div.tagsinput span.tag {
    padding: 2px 5px;
    margin-top: -1px;
}
.visibility-button button {
    width: 100%;
    text-align: left;
}
.tags .tagsinput {
    height:34px !important;
    overflow-x: hidden;
    overflow-y: hidden;
}
div.tagsinput {
    width: 100% !important;
}
.tags .tagsinput input {
    min-width:100px !important;
}
.fiddle-owner {
    margin-top: 10px;
    margin-bottom: 10px;
}
/******************************************************/
/************** BROWSER ********************/
/******************************************************/
.unavailable {
    color:#999;
    font-style:italic;
}
.static-tag {
    border: 1px solid #a5d24a;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    display: block;
    float: left;
    padding: 5px;
    text-decoration:none;
    background: #cde69c;
    color: #638421;
    margin-right: 5px;
    margin-bottom:5px;
    font-family: helvetica;
    font-size:13px;
}
.fiddle-result {
    min-height: 180px;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: #5e5051 !important;
    border: 1px solid #5e5051 !important;
}
.pagination {
    margin: 5px;
}
#result-container {
    min-height: 200px;
}
/******************************************************/
/************** ABOUT ********************/
/******************************************************/
#about a {
    color: #76a728;
}

#about a:hover {
    color: #4d4041;
}

#about a.btn {
    color: white;
}

#about img {
    max-width:100%;
    max-height:100%;
}
