{# FuzAppBundle:Article:about/about-the-author.html.twig #}
{# Included by FuzAppBundle:Article:about.html.twig #}

{#
 # This file is part of twigfiddle.com project.
 #
 # (c) Alain Tiemblo <alain@fuz.org>
 #
 # For the full copyright and license information, please view the LICENSE
 # file that was distributed with this source code.
 #}

<span id="about-the-author"></span>

<div class="row">
    <div class="col-md-12">
        <div class="h3">About the author</div>
    </div>
    <div class="clear">&nbsp;</div>
</div>

<div class="row">
    <div class="col-md-6 col-sm-12">

        <p>
            I am Alain Tiemblo, a <i>lazy</i> and passionate web developer. I spend most
            of my life sleeping, eating, swimming and, of course, coding. I am living in Nantes (France), a
            nice and animated city close to the Attlantique ocean. I spend my vacations travelling,
            with a special attraction to China after being there 9 months already.
        </p>
        <p>
            I enjoy being that <i>lazy</i> developer as I am always looking for ways
            to do more with less efforts and time. For me, but also and particularily for
            the users who will use my work. And I love searching for solutions to
            develop <i>impossible</i> stuffs, such as multi-threading simulation in PHP,
            user-friendly parsers, strong enconding matters, captcha-breakers and so on.
        </p>
        <p>
            I began computer science at 13 years old, as an <a href="http://en.wikipedia.org/wiki/IRC">IRC</a> chatter.
            I developped my first <a href="http://en.wikipedia.org/wiki/MIRC_scripting_language">mIRC script</a>
            because I seen a game <a href="http://en.wikipedia.org/wiki/Internet_Relay_Chat_bot">robot</a> that
            wasn't opensource, and wanted to put it on my own channels. This was the very beginning of an incredible
            adventure. I spent 8 years on IRC, coding games, moderation and administration robots, proxy to bypass
            school's firewall to chat during classes, chat client for mobile devices throught http, chat analytics and more.
        </p>
        <p>
            After being gradulated from secondary school,
            I studied computer science at the <a href="http://www.epitech.eu/">European Institute of Technology</a>,
            a 5-years course that creates self-learner nerds. During first 2 years, it was forbidden to use existing libraries:
            if we required a function (whichever one), we needed to code it! A nice way to learn a lot of low-level stuffs,
            and to understand how things run. The other years covered a large variety of technologies, from langages,
            system and network administration, to technical topics such as code parsing, network development,
            computer graphics, artificial intelligence and so on. Coupled with internships and international studies,
            the many things I learnt made me able to choose <b>THE</b> job I'm made for: web developer.
        </p>
        <p>
            I am also a <a href="http://www.zend.com/en/store/education/certification/authenticate.php/ClientCandidateID/ZEND019924/RegistrationID/248747019">Zend Certified Engineer</a>,
            who done the examination just for fun.
        </p>
        <p>
            You can find some more of my geeky activity on <a href="http://stackoverflow.com/users/731138/ninsuo">Stackoverflow</a>:
            <br/><br/>
            <a href="http://stackexchange.com/users/378431">
                <img src="http://stackexchange.com/users/flair/378431.png" width="208" height="58" alt="profile for Ninsuo on Stack Exchange, a network of free, community-driven Q&amp;A sites" title="profile for Ninsuo on Stack Exchange, a network of free, community-driven Q&amp;A sites">
            </a>
        </p>
    </div>

    <div class="col-md-6 col-sm-12 text-center">
        <p>
            <img class="img-rounded" src="{{ asset('bundles/fuzapp/img/about/alain.jpg') }}" alt="Alain Tiemblo" />
        </p>
    </div>


    <div class="clear">&nbsp;</div>
</div>

<div class="text-center">
    <a class="btn btn-default btn-tf-dark" href="#table-of-contents">Top</a>
</div>
