{# FuzAppBundle:Article:about/license.html.twig #}
{# Included by FuzAppBundle:Article:about.html.twig #}

{#
 # This file is part of twigfiddle.com project.
 #
 # (c) Alain Tiemblo <alain@fuz.org>
 #
 # For the full copyright and license information, please view the LICENSE
 # file that was distributed with this source code.
 #}

<span id="license"></span>

<div class="row">
    <div class="col-md-12">
        <div class="h3">License</div>
    </div>
    <div class="clear">&nbsp;</div>
</div>

<div class="row">
    <div class="col-md-12">
        <ul>
            <li>
                Twigfiddle's logo is licensed under the
                <a href="http://creativecommons.org/licenses/by/4.0/" target="_blank">Creative Common Attribution 4.0 International</a> license.
                <br/><br/>

<pre>
You are free to:

    Share — copy and redistribute the material in any medium or format
    Adapt — remix, transform, and build upon the material for any purpose, even commercially.

    The licensor cannot revoke these freedoms as long as you follow the license terms.

Under the following terms:

    Attribution — You must give appropriate credit, provide a link to the license, and indicate if changes were made. You may do so in any reasonable manner, but not in any way that suggests the licensor endorses you or your use.

    No additional restrictions — You may not apply legal terms or technological measures that legally restrict others from doing anything the license permits.

Notices:

    You do not have to comply with the license for elements of the material in the public domain or where your use is permitted by an applicable exception or limitation.
    No warranties are given. The license may not give you all of the permissions necessary for your intended use. For example, other rights such as publicity, privacy, or moral rights may limit how you use the material.
</pre>

            </li>
            <br/>
            <li>
                Twigfiddle's source code is licensed under the
                <a href="http://opensource.org/licenses/MIT" target="_blank">MIT</a> license.
                <br/><br/>

<pre>
The MIT License (MIT)

Copyright (c) 2015 alain tiemblo {{ '<alain // fuz // org>' | e }}

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in
all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
THE SOFTWARE.
</pre>

            </li>
            <br/>
        </ul>

    </div>
    <div class="clear">&nbsp;</div>
</div>

<div class="text-center">
    <a class="btn btn-default btn-tf-dark" href="#table-of-contents">Top</a>
</div>
