{# FuzAppBundle:Article:about/other-options-on-saved-fiddles.html.twig #}
{# Included by FuzAppBundle:Article:about.html.twig #}

{#
 # This file is part of twigfiddle.com project.
 #
 # (c) Alain Tiemblo <alain@fuz.org>
 #
 # For the full copyright and license information, please view the LICENSE
 # file that was distributed with this source code.
 #}

<div class="row">
    <div class="col-md-12">
    </div>
    <div class="clear">&nbsp;</div>
</div>
