{# FuzAppBundle:Article:about/other-options-on-saved-fiddles.html.twig #}
{# Included by FuzAppBundle:Article:about.html.twig #}

{#
 # This file is part of twigfiddle.com project.
 #
 # (c) Alain Tiemblo <alain@fuz.org>
 #
 # For the full copyright and license information, please view the LICENSE
 # file that was distributed with this source code.
 #}

<div class="row">
    <div class="col-md-12">
        <div class="h3">Other options available when visiting an existing fiddle</div>
    </div>
    <div class="clear">&nbsp;</div>
</div>

<div class="row">
    <div class="col-md-4 col-sm-12">
        <p>Other options are available when you're saving or accessing an already-saved fiddle.</p>
        <ul>
            <li>You can switch between several revisions of a fiddle by using the dropdown menu.</li>
            <br/>
            <li>If you do not own a fiddle and want to update it, you can click on "Create new revision" button to fork it.</li>
            <br/>
            <li>
                If you've just created a fiddle, you can click save button until your session expires. Signed-in users can save their own
                fiddles all the time.
            </li>
            <br/>
            <li>
                You can set a title to your fiddle, this is useful as, for example, Stackoverflow opens external URLs in the current
                tab. By giving URLs related to your fiddle, you help people who actually helps you to get back to your question.
            </li>
            <br/>
            <li>{# fiddle.max_tags #}
                You can assign up to 5 tags to your fiddles, this is useful if you're building tools with it (such as code generators)
                and want to filter them quickly in the fiddle's browser.
            </li>
            <br/>
        </ul>
    </div>
    <div class="col-md-8 col-sm-12">
        <p>
            <img class="img-rounded" src="{{ asset('bundles/fuzapp/img/about/saved-fiddle.png') }}"/>
        </p>
    </div>
    <div class="clear">&nbsp;</div>
</div>

