{# FuzAppBundle:Article:about/special-thanks.html.twig #}
{# Included by FuzAppBundle:Article:about.html.twig #}

{#
 # This file is part of twigfiddle.com project.
 #
 # (c) Alain Tiemblo <alain@fuz.org>
 #
 # For the full copyright and license information, please view the LICENSE
 # file that was distributed with this source code.
 #}

<span id="special-thanks"></span>

<div class="row">
    <div class="col-md-12">
        <div class="h3">Special thanks</div>
    </div>
    <div class="clear">&nbsp;</div>
</div>

<div class="row">
    <div class="col-md-12">
        <ul>
            <li>
                Thank you <a href="http://stackoverflow.com/users/808921/jake-feasel" target="_blank">Jake Feasel</a>,
                <a href="http://sqlfiddle.com" target="_blank">sqlfiddle.com</a>'s developer, for your time answering my questions, and your
                precious advices about fiddle-kind website creation.
            </li>
            <br/>
            <li>
                Thank you <a href="http://www.seyaworld.com/" target="_blank">Gaëtan Gabou</a>, web designer, for your help making this
                website's layout ergonomic, and for creating the awesome twigfiddle's logo.
            </li>
            <br/>
            <li>
                Thank you <a href="http://stackoverflow.com/users/1075027/alterphp" target="_blank">Pierre-Charles Bertineau</a> and
                <a href="http://stackoverflow.com/users/2003986/toyonos" target="_blank">Philippe Serre</a> for your time testing the application.
            </li>
            <br/>
            <li>
                Thank you <a href="https://github.com/fabpot" target="_blank">Fabien Potencier</a> and
                <a href="http://twig.sensiolabs.org/contributors" target="_blank">the whole Twig community</a> for building such awesome
                piece of code for free.
            </li>
            <br/>
        </ul>

    </div>
    <div class="clear">&nbsp;</div>
</div>

<div class="text-center">
    <a class="btn btn-default btn-tf-dark" href="#table-of-contents">Top</a>
</div>
