{# FuzAppBundle:Article:about/table-of-contents.html.twig #}
{# Included by FuzAppBundle:Article:about.html.twig #}

{#
 # This file is part of twigfiddle.com project.
 #
 # (c) Alain Tiemblo <alain@fuz.org>
 #
 # For the full copyright and license information, please view the LICENSE
 # file that was distributed with this source code.
 #}

<span id="table-of-contents"></span>

<div class="row">
    <div class="col-md-12">
        <div class="h3">Table of contents</div>
    </div>
    <div class="clear">&nbsp;</div>
</div>

<div class="row">
    <div class="col-md-12" class="nav">
        <ul>
            <li><a href="#what-i-am-supposed-to-do-here">What I am supposed to do here?</a></li>
            <li><a href="#how-to-create-a-fiddle">How to create a fiddle?</a></li>
            <li><a href="#how-to-read-fiddles-result">How to read fiddle's result?</a></li>
            <li><a href="#other-options-on-saved-fiddles">Other options on saved fiddles</a></li>
            <li><a href="#fiddle-browser">How to use the fiddle's browser</a></li>
            <li><a href="#other-options-for-registered-users">Other options for registered users</a></li>
        </ul>
    </div>
</div>
