{# FuzAppBundle:Article:about/what-i-am-supposed-to-do-here.html.twig #}
{# Included by FuzAppBundle:Article:about.html.twig #}

{#
 # This file is part of twigfiddle.com project.
 #
 # (c) Alain Tiemblo <alain@fuz.org>
 #
 # For the full copyright and license information, please view the LICENSE
 # file that was distributed with this source code.
 #}

<div class="row">
    <div class="col-md-12">

        <div class="h3">What am I supposed to do here?</div>
        <div class="clear">&nbsp;</div>

        <p>
            If you do not know Twig or basic templating language concepts, this site is not going to be very useful to you. However, if you
            are a twig/Symfony2 developer, there are a few different use-cases of twigfiddle intended for you:
        </p>

        <ul>

            <li>
                You want help with a tricky template, and you'd like to post a question to a Q/A site like
                <a href="http://www.stackoverflow.com" target="_blank">StackOverflow</a>. Create a representative view (templates and context) and
                post a link to it in your question. Unique URLs for each fiddle will be generated as you use the site (even if you can create your
                custom urls), just copy and pate the URL that you want to share, and it will be available for anyone who wants to take a look.
                They will be able to use your template as a starting point for answering your question. When they have something they'd like to share
                with you, they can then send you a link back to their template.
            </li>

            <br/>

            <li>
                You want to compare and contrast Twig features in different versions. twigfiddle easily lets you switch which version your template and
                your context run against. This will allow you to quickly evaluate template porting efforts, or test a template in the version that match
                with your working environment.
            </li>

            <br/>

            <li>
                You do not have a particular development platform readily available, but you would like to see what a given template would look like
                in that environment. Using twigfiddle, you don't need to bother spinning up a whole installation for your evaluation; just create
                your template and run it here!
            </li>

            <br/>

            <li>
                You want to know what is the compiled result of a twig template. As twig files are compiled into php classes, this is really interesting
                to see the resulting PHP file to understand twig internals, especially if you're dealing with advanced extensions.
            </li>

        </ul>

    </div>
    <div class="clear">&nbsp;</div>
</div>
