parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~
    database_socket: /var/run/mysqld/mysqld.sock

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

    debug_toolbar:          true
    debug_redirects:        false
    use_assetic_controller: true

    google_client_id: <your client id>
    google_secret: <your secret>
    facebook_client_id: <your client id>
    facebook_secret: <your secret>
    twitter_client_id: <your client id>
    twitter_secret: <your secret>
    sensio_client_id: <your client id>
    sensio_secret: <your secret>

    twigfiddle_url: http://twigfiddle.com
    twigfiddle_process_root_dir: %kernel.root_dir%/../../cli
    twigfiddle_process_timeout: 5

    github_repository_root: https://github.com/ninsuo/twigfiddle/blob/master
